aiohttp
aiosignal
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
discord
discord.py
frozenlist
gitdb
GitPython
greenlet
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
multidict
numpy
packaging
pandas
pillow
pip
protobuf
pyarrow
pydeck
Pygments
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
six
smmap
SQLAlchemy
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp
